<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="eu.chuvash.android.lusites"
      android:installLocation="auto" android:versionName="0.3.0" android:versionCode="15">
    <application android:icon="@drawable/icon" android:debuggable="false"
    	android:label="@string/app_name">
        <activity android:name=".LUSitesActivity"
                  android:label="@string/app_full_name">
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.MAIN" />
                 
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE"/>
                
                <!-- inspired by: 
                http://stackoverflow.com/questions/4369012/android-intent-filter-for-geo-uri
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" android:host="maps.google.com" />
                <data android:scheme="http" android:host="maps.google.com" android:pathPrefix="/maps"/>
                <data android:scheme="geo" android:host="*" />
                -->          
            </intent-filter>
        </activity>
        <activity android:name=".Settings"
	              android:label="@string/settings_label"/>
        <activity android:name=".EventsActivity"
	              android:label="@string/events_label"/>

		<uses-library android:name="com.google.android.maps" />
		
    </application>
    <uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest> 
